#? if > 1.12.2 {
#public net.minecraft.world.level.levelgen.WorldOptions seed J
#public-f net.minecraft.world.level.levelgen.WorldOptions seed J
#? } else {

public net.minecraft.world.storage.WorldInfo randomSeed

#? }
